---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Shidokan Karate European Championship 2025',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   image={{ src: '~/assets/images/Kumite_picture_with_titles_Final1.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Welcome to Shidokan Karate European Championship <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> 2025 </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Vilnius,</span> Lithuania </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      
    </Fragment>
  </Hero>

  <Stats
    title="In Numbers"
    stats={[
      { title: 'Countries', amount: '12' },
      { title: 'Fighters', amount: '>60' },
      { title: 'Guests', amount: '>150' },
    ]}
     />

  <!-- Note Widget ******************* -->

  <Brands
  title="Countries"
  icons={[]}
  images={[
    {
      src: '~/assets/images/france.jpg',
      alt: 'France',
    },
    {
      src: '~/assets/images/germany.jpg',
      alt: 'Germany',
    },
    {
      src: '~/assets/images/lithuania.jpg',
      alt: 'Lithuania',
    },
    {
      src: '~/assets/images/czech_republic.jpg',
      alt: 'Czech republik',
    },
    {
      src: '~/assets/images/belgium.png',
      alt: 'Belgium',
    },
    {
      src: '~/assets/images/latvia.jpg',
      alt: 'Latvia',
    },
    {
      src: '~/assets/images/spain.jpg',
      alt: 'Spain',
    },
    {
      src: '~/assets/images/hungary.jpg',
      alt: 'Hungary',
    },
    {
      src: '~/assets/images/IMG_0993.jpg',
      alt: 'Saint Martin',
    },
    {
      src: '~/assets/images/poland.jpg',
      alt: 'Poland',
    },
    {
      src: '~/assets/images/italy.jpg',
      alt: 'Italy',
    },
  ]}
/>

  <!-- Features Widget *************** -->

  

  <!-- Content Widget **************** -->

  <!-- Stats Widget ****************** -->

  
  <!-- CallToAction Widget *********** -->
  <CallToAction
  actions={[
    {
      variant: 'link',
      text: 'Contacts',
      href: 'https://shidokaneurope2025.eu',
      target: '_blank',
      icon: 'tabler:link',
    },
  ]}
>
  <Fragment slot="title">
    Shidokan&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Karate</span>
  </Fragment>

  <Fragment slot="subtitle">
    Feel free to contact us! <br class="hidden md:inline" />
  </Fragment>
</CallToAction>
</Layout>
