---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Sponsors from '~/components/widgets/Sponsors.astro';

const metadata = {
  title: 'Shidokan Karate European Championship 2025',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   image={{ src: '~/assets/images/Kumite_picture_with_titles_Final1.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Welcome to Shidokan Karate European Championship <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> 2025 </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Vilnius,</span> Lithuania <br></span>
        <span class="font-semibold">March</span> 22 </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Vilnius, Lithuania</span>
      
    </Fragment>
  </Hero>

  <Stats
    title="In Numbers"
    stats={[
      { title: 'Countries', amount: '10' },
      { title: 'Athletes', amount: '>60' },
      { title: 'International Guests', amount: '>150' },
    ]}
     />

  <!-- Note Widget ******************* -->

  <Brands
  title="Countries"
  icons={[]}
  images={[
    {
      src: '~/assets/images/france.png',
      alt: 'France',
    },
    {
      src: '~/assets/images/germany.png',
      alt: 'Germany',
    },
    {
      src: '~/assets/images/lithuania.jpg',
      alt: 'Lithuania',
    },
    {
      src: '~/assets/images/czech.png',
      alt: 'Czech republik',
    },
    {
      src: '~/assets/images/belgium.png',
      alt: 'Belgium',
    },
    {
      src: '~/assets/images/latvia.jpg',
      alt: 'Latvia',
    },
    {
      src: '~/assets/images/greece2.png',
      alt: 'Greece',
    },
    {
      src: '~/assets/images/hungary.jpg',
      alt: 'Hungary',
    },
    {
      src: '~/assets/images/IMG_0993.jpg',
      alt: 'Saint Martin',
    },
    {
      src: '~/assets/images/poland.jpg',
      alt: 'Poland',
    },
  ]}
/>

<Sponsors
title="Sponsors"
icons={[]}
images={[
  {
    src: '~/assets/images/SD_logo_resized.png',
    alt: 'Spaudos Departamentas',
  },
  {
    src: '~/assets/images/vecticum_resized.png',
    alt: 'Vecticum',
  },
  {
    src: '~/assets/images/atvena_resized.png',
    alt: 'Atvena',
  },
  {
    src: '~/assets/images/LPC_Logo_inverted_resized.png',
    alt: 'LPC',
  },
  {
    src: '~/assets/images/vilnius_s_resized.png',
    alt: 'Vilnius_s',
  },  
  {
    src: '~/assets/images/lrt_resized.png',
    alt: 'LRT',
  },
  {
    src: '~/assets/images/tvp_resized.png',
    alt: 'TVP',
  },
  {
    src: '~/assets/images/zw_resized.png',
    alt: 'Znad Wilii',
  },
  {
    src: '~/assets/images/dkp_resized.png',
    alt: 'Dom Kultury Polskiej',
  },
  {
    src: '~/assets/images/4sport_resized.png',
    alt: '4sport.lt',
  },
  {
    src: '~/assets/images/nortima_resized.png',
    alt: 'Nortima',
  },
  {
    src: '~/assets/images/sostines_media_resized.png',
    alt: 'Sostines media',
  },
]}
/>

<!-- Features Widget *************** -->

  

  <!-- Content Widget **************** -->

  <!-- Stats Widget ****************** -->

  
  <!-- CallToAction Widget *********** -->
  <CallToAction
  actions={[
    {
      variant: 'mailto',
      text: 'mku@shidokankarate.lt',
      href: 'mailto:mku@shidokankarate.lt', body: 'test',
      target: '_blank',
      icon: 'tabler:mail',
    },
  ]}
>
  <Fragment slot="title">
    Shidokan&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Karate</span>
  </Fragment>

  <Fragment slot="subtitle">
    Have a question? Contact us! <br class="hidden md:inline" />
  </Fragment>
</CallToAction>
</Layout>
