---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Accommodation'
};
---

<Layout metadata={metadata}>

   
  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Event location and Accomodation for participans"
    subtitle="The championship will be hosted by the Vilnius <b> Polish Cultural House</b>, a unique complex that offers accommodation, event hosting facilities, catering, and recreational services."
        
    image={{
      src: '~/assets/images/dkp.webp',
      alt: 'DKP',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Naugarduko g. 76, Vilnius, Lietuva LT - 03202',
        icon: 'tabler:map',
      },
      {
        title: '+370 5 233 3663',
        icon: 'tabler:carousel-horizontal',
      },
      {
        title: 'https://www.polskidom.lt/',
        icon: 'tabler:square-rounded-arrow-right',
      },
      {
        title: 'info@polskidom.lt',
        icon: 'tabler:mail',
      },
    ]}
    image={{
      src: '~/assets/images/dkp_address2.png',
      alt: 'DKP Address',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Location</h3>
    </Fragment>
  </Content>
