---
import Layout from '~/layouts/PageLayout.astro';
import getPermalink from '~/utils/permalinks';
import Header from '~/components/widgets/Header.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Sightseeings an leasure',
};
---

<Layout metadata={metadata}>

   
  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Sightseeings an leasure"
    subtitle="Vilnius, the capital of Lithuania, is a charming city known for its beautiful Baroque Old Town, a UNESCO World Heritage site. Visitors can explore the iconic Gediminas Tower, which offers stunning panoramic views of the city. The bohemian Užupis district, often compared to Montmartre in Paris, is a must-visit with its artistic vibe and quirky constitution. St. Anne’s Church, a Gothic masterpiece, is another highlight, along with the vibrant food scene featuring traditional Lithuanian dishes like cepelinai. Whether strolling through medieval streets or enjoying modern cafes, Vilnius offers a perfect blend of history, culture, and creativity."
    image={{
      src: '~/assets/images/vilnius-oldtown.jpg',
      alt: 'DKP',
    }}
  />

  <Features2
  title="How to get to the oldtown?"
  subtitle="It's simple! You can walk from the hotel, and it will take about 20 minutes. Turn down Naugarduko Street and keep walking straight. As you go down, you will reach Pylimo Street, which marks the boundary between the New Town and the Old Town districts. Continue straight or turn left. After passing the MO Museum, turn right towards Trakų Street."
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        icon: 'tabler:square-rounded-arrow-right',
        callToAction: {
          target: '_blank',
          text: 'Go Vilnius',
          href: 'https://www.govilnius.lt/visit-vilnius',
          variant: 'link',
        }
      
      },
      {
        icon: 'tabler:square-rounded-arrow-right',
        callToAction: {
          target: '_blank',
          text: 'Trip Advisor',
          href: 'https://www.tripadvisor.com/Tourism-g274951-Vilnius_Vilnius_County-Vacations.html',
          variant: 'link',
        }
      },
      {
        icon: 'tabler:square-rounded-arrow-right',
        callToAction: {
          target: '_blank',
          text: 'Lonely Planet',
          href: 'https://www.lonelyplanet.com/articles/first-time-guide-to-vilnius',
          variant: 'link',
        }
      },
    ]}
    image={{
      src: '~/assets/images/VilniusStock_.jpeg',
      alt: 'DKP Address',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Useful links visiting <b>Vilnius</b></h3>
    </Fragment>
  </Content>
