---
import Layout from '~/layouts/PageLayout.astro';
import getPermalink from '~/utils/permalinks';
import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Sightseeings an leasure',
};
---

<Layout metadata={metadata}>

   
  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Sightseeings an leasure"
    subtitle="Vilnius, the capital of Lithuania, is a charming city known for its beautiful Baroque Old Town, a UNESCO World Heritage site. Visitors can explore the iconic Gediminas Tower, which offers stunning panoramic views of the city. The bohemian Užupis district, often compared to Montmartre in Paris, is a must-visit with its artistic vibe and quirky constitution. St. Anne’s Church, a Gothic masterpiece, is another highlight, along with the vibrant food scene featuring traditional Lithuanian dishes like cepelinai. Whether strolling through medieval streets or enjoying modern cafes, Vilnius offers a perfect blend of history, culture, and creativity."
    image={{
      src: '~/assets/images/vilnius-oldtown.jpg',
      alt: 'DKP',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'shortcut icon',
        icon: 'tabler:square-rounded-arrow-right',
      
      },
      {
        title: '+370 5 233 3663',
        icon: 'tabler:square-rounded-arrow-right',
      },
      {
        title: 'https://www.polskidom.lt/',
        icon: 'tabler:square-rounded-arrow-right',
      },
    ]}
    image={{
      src: '~/assets/images/dkp_address2.png',
      alt: 'DKP Address',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Useful links visiting <b>Vilnius</b></h3>
    </Fragment>
  </Content>
